<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @font-face {
            font-family: 'BinggraeSamanco-Bold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    * {
        font-family: 'BinggraeSamanco-Bold';
        font-size: 20px
    }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="navbar bg-warning px-3 d-flex justify-content-center">
        <a class="navbar-brand" href="{% url 'movies:index' %}">
        <img src="https://search.pstatic.net/common?type=f&size=174x174&quality=95&direct=true&src=https%3A%2F%2Fnng-phinf.pstatic.net%2FMjAyMTExMjZfMTQw%2FMDAxNjM3ODg4MDI0NDYx.jQlgk0wgOHenvZXCDCbGz1k3Mff8MvJfAwGR5kxlXJMg.OZCmgnGglrk9R0-xgNW-FyiocBfUmoFO8IzHhYEKfCIg.PNG%2F9%25EA%25B5%25AC%25EC%258A%25A4.png" class="img-fluid rounded-4 border" style="height:50px; width:50px" alt="">
        </a>
        <h1 class="mx-5">영화 평론가 [No-Duck-Goose]</h1>
    </div>
    <div class="m-auto w-50">
    {% block content %}
    
    {% endblock content %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>